<!DOCTYPE html>
<html style="font-size: 16px">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="keywords" content="O melhor IPTV de TODOS!, Plataformas" />
    <meta name="description" content="" />
    <meta name="page_type" content="np-template-header-footer-from-plugin" />
    <title>FullHD</title>
    <link rel="stylesheet" href="./css/nicepage.css" media="screen" />
    <link rel="stylesheet" href="./css/Página-Inicial.css" media="screen" />
    <script
      class="u-script"
      type="text/javascript"
      src="./js/jquery.js"
      defer=""
    ></script>
    <script
      class="u-script"
      type="text/javascript"
      src="./js/nicepage.js"
      defer=""
    ></script>
    <meta name="generator" content="Nicepage 4.7.1, nicepage.com" />
    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
    />
    <link
      id="u-page-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i"
    />

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "logo": "./assets/images/logo.png"
      }
    </script>
    <meta name="theme-color" content="#478ac9" />
    <meta property="og:title" content="Página Inicial" />
    <meta property="og:type" content="website" />

    <link rel="icon" type="" href="/assets/images/logo.png">
  </head>
  <body class="u-body u-xl-mode">
    <header class="u-clearfix u-header u-header" id="sec-927e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a
          href=""
          class="u-image u-logo u-image-1"
          data-image-width="640"
          data-image-height="640"
        >
          <img
            src="./assets/images/logo.png"
            class="u-logo-image u-logo-image-1"
          />
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div
            class="menu-collapse"
            style="font-size: 1rem; letter-spacing: 0px"
          >
            <a
              class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
              href="#"
            >
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="#menu-hamburger"
                ></use>
              </svg>
              <svg
                class="u-svg-content"
                version="1.1"
                id="menu-hamburger"
                viewBox="0 0 16 16"
                x="0px"
                y="0px"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                  href="/"
                  style="padding: 10px 20px"
                  >Página Inicial</a
                >
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div
              class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav"
            >
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul
                  class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"
                >
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="/"
                      >Página Inicial</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section
      class="u-clearfix u-image u-shading u-section-1"
      id="carousel_63aa"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <div
          class="u-clearfix u-expanded-width u-gutter-0 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1"
        >
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div
                class="u-size-34-lg u-size-34-xl u-size-35-md u-size-35-sm u-size-35-xs"
              >
                <div class="u-layout-col">
                  <div
                    class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1"
                  >
                    <div class="u-container-layout u-container-layout-1">
                      <h6
                        class="u-custom-font u-text u-text-body-alt-color u-text-font u-text-1"
                      >
                        FULL HD
                      </h6>
                      <h1 class="u-custom-font u-text u-title u-text-2">
                        +50 MIL<br />CONTEÚDOS<br />
                        <br />CANAIS, FILMES E SÉRIES
                      </h1>
                    </div>
                  </div>
                  <div
                    class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2"
                  >
                    <div class="u-container-layout u-container-layout-2">
                      <a
                        href="https://api.whatsapp.com/send?phone=5551986165032&text=Ol%C3%A1%20equipe%20FullHD%2C%20tenho%20interesse%20em%20realizar%20o%20teste%20de%206%20horas%20gratuitamente!"
                        class="u-border-none u-btn u-btn-round u-button-style u-color-scheme-summer-time u-color-style-multicolor-1 u-gradient u-none u-radius-50 u-btn-1"
                      >
                        <span style="font-size: 24px">TESTE GRÁTIS</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="u-size-25-md u-size-25-sm u-size-25-xs u-size-26-lg u-size-26-xl"
              >
                <div class="u-layout-row">
                  <div
                    class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-3"
                  >
                    <div
                      class="u-container-layout u-valign-middle u-container-layout-3"
                    >
                      <p class="u-text u-text-palette-5-light-3 u-text-3">
                        Venha fazer parte da nossa familia. O Melhor streaming
                        da internet. Suporte garantido, Canais de excelente
                        qualidade, e preço justo que cabe no seu bolso.<br />
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-3280">
      <div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <img
          class="u-hidden-md u-hidden-xs u-image u-image-default u-image-1"
          src="./assets/images/canais.png"
          alt=""
          data-image-width="650"
          data-image-height="495"
        />
        <h1
          class="u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-custom-color-2 u-text-default u-text-1"
        >
          O QUE A FULL HD&nbsp;<br />OFERECE?
        </h1>
        <h4
          class="u-align-left-md u-align-left-sm u-align-left-xs u-text u-text-default u-text-2"
        >
          <span class="u-file-icon u-icon u-text-custom-color-1"
            ><img src="./assets/images/v.png" alt="" /></span
          >&nbsp;Canais SD + HD + FULL HD e 4K
        </h4>
        <h4
          class="u-align-left-md u-align-left-sm u-align-left-xs u-text u-text-default u-text-3"
        >
          <span class="u-file-icon u-icon u-text-custom-color-1"
            ><img src="./assets/images/v.png" alt="" /></span
          >&nbsp;Canais de campeonatos estaduais
        </h4>
        <h4
          class="u-align-left-md u-align-left-sm u-align-left-xs u-text u-text-default u-text-4"
        >
          <span class="u-file-icon u-icon u-text-custom-color-1"
            ><img src="./assets/images/v.png" alt="" /></span
          >&nbsp;Canais internacionais
        </h4>
        <h4
          class="u-align-left-md u-align-left-sm u-align-left-xs u-text u-text-default u-text-5"
        >
          <span class="u-file-icon u-icon u-text-custom-color-1"
            ><img src="./assets/images/v.png" alt="" /></span
          >&nbsp;Canais Adultos
        </h4>
        <h4
          class="u-align-left-md u-align-left-sm u-align-left-xs u-text u-text-default u-text-6"
        >
          <span class="u-file-icon u-icon u-text-custom-color-1"
            ><img src="./assets/images/v.png" alt="" /></span
          >&nbsp;Melhor Preço
        </h4>
        <h4
          class="u-align-left-md u-align-left-sm u-align-left-xs u-text u-text-default u-text-7"
        >
          <span class="u-file-icon u-icon u-text-custom-color-1"
            ><img src="./assets/images/v.png" alt="" /></span
          >&nbsp;Gatantia Comprovada
        </h4>
        <h4
          class="u-align-left-md u-align-left-sm u-align-left-xs u-text u-text-default u-text-8"
        >
          <span class="u-file-icon u-icon u-text-custom-color-1"
            ><img src="./assets/images/v.png" alt="" /></span
          >&nbsp;E muito mais
        </h4>
      </div>
    </section>
    <section
      class="u-align-center u-clearfix u-white u-section-3"
      id="carousel_30a0"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-text-default u-text-1">
          DISPOSITIVOS COM SUPORTE
        </h1>
        <p class="u-text u-text-2">
          Todas as plataformas abaixo possui suporte com nosso serviço.
        </p>
        <img
          alt=""
          class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-1"
          src="./assets/images/men-tech.jpg"
          data-image-width="1200"
          data-image-height="800"
        />
        <div
          class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1"
        >
          <div class="u-repeater u-repeater-1">
            <div
              class="u-align-center u-container-style u-custom-item u-list-item u-palette-1-base u-repeater-item u-list-item-1"
            >
              <div
                class="u-container-layout u-similar-container u-valign-middle u-container-layout-1"
              >
                <span class="u-file-icon u-icon u-text-black u-icon-1"
                  ><img src="./assets/images/icon-smart.png" alt=""
                /></span>
                <h4 class="u-text u-text-3">SMART TV</h4>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-custom-item u-grey-10 u-list-item u-repeater-item u-list-item-2"
            >
              <div
                class="u-container-layout u-similar-container u-valign-middle u-container-layout-2"
              >
                <span class="u-icon u-text-black u-icon-2"
                  ><svg
                    class="u-svg-link"
                    preserveAspectRatio="xMidYMin slice"
                    viewBox="0 0 60 60"
                    style=""
                  >
                    <use
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      xlink:href="#svg-0098"
                    ></use></svg
                  ><svg
                    class="u-svg-content"
                    viewBox="0 0 60 60"
                    x="0px"
                    y="0px"
                    id="svg-0098"
                    style="enable-background: new 0 0 60 60"
                  >
                    <g>
                      <path
                        d="M42.595,0H17.405C14.977,0,13,1.977,13,4.405v51.189C13,58.023,14.977,60,17.405,60h25.189C45.023,60,47,58.023,47,55.595
		V4.405C47,1.977,45.023,0,42.595,0z M15,8h30v38H15V8z M17.405,2h25.189C43.921,2,45,3.079,45,4.405V6H15V4.405
		C15,3.079,16.079,2,17.405,2z M42.595,58H17.405C16.079,58,15,56.921,15,55.595V48h30v7.595C45,56.921,43.921,58,42.595,58z"
                      ></path>
                      <path
                        d="M30,49c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4S32.206,49,30,49z M30,55c-1.103,0-2-0.897-2-2s0.897-2,2-2
		s2,0.897,2,2S31.103,55,30,55z"
                      ></path>
                      <path
                        d="M26,5h4c0.553,0,1-0.447,1-1s-0.447-1-1-1h-4c-0.553,0-1,0.447-1,1S25.447,5,26,5z"
                      ></path>
                      <path
                        d="M33,5h1c0.553,0,1-0.447,1-1s-0.447-1-1-1h-1c-0.553,0-1,0.447-1,1S32.447,5,33,5z"
                      ></path>
                      <path
                        d="M56.612,4.569c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414c3.736,3.736,3.736,9.815,0,13.552
		c-0.391,0.391-0.391,1.023,0,1.414c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293
		C61.128,16.434,61.128,9.085,56.612,4.569z"
                      ></path>
                      <path
                        d="M52.401,6.845c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414c1.237,1.237,1.918,2.885,1.918,4.639
		s-0.681,3.401-1.918,4.638c-0.391,0.391-0.391,1.023,0,1.414c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293
		c1.615-1.614,2.504-3.764,2.504-6.052S54.017,8.459,52.401,6.845z"
                      ></path>
                      <path
                        d="M4.802,5.983c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0c-4.516,4.516-4.516,11.864,0,16.38
		c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414
		C1.065,15.799,1.065,9.72,4.802,5.983z"
                      ></path>
                      <path
                        d="M9.013,6.569c-0.391-0.391-1.023-0.391-1.414,0c-1.615,1.614-2.504,3.764-2.504,6.052s0.889,4.438,2.504,6.053
		c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414
		c-1.237-1.237-1.918-2.885-1.918-4.639S7.775,9.22,9.013,7.983C9.403,7.593,9.403,6.96,9.013,6.569z"
                      ></path>
                    </g>
                  </svg>
                </span>
                <h4 class="u-text u-text-4">CELULAR</h4>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-custom-item u-grey-10 u-list-item u-repeater-item u-shape-rectangle"
            >
              <div
                class="u-container-layout u-similar-container u-valign-middle u-container-layout-3"
              >
                <span class="u-file-icon u-icon u-text-black u-icon-3"
                  ><img src="./assets/images/icon-tvbox.png" alt=""
                /></span>
                <h4 class="u-text u-text-5">TV BOX</h4>
              </div>
            </div>
            <div
              class="u-align-center u-container-style u-list-item u-palette-2-base u-repeater-item u-shape-rectangle u-list-item-4"
            >
              <div
                class="u-container-layout u-similar-container u-valign-middle u-container-layout-4"
              >
                <span class="u-icon u-text-black u-icon-4"
                  ><svg
                    class="u-svg-link"
                    preserveAspectRatio="xMidYMin slice"
                    viewBox="0 0 128 128"
                    style=""
                  >
                    <use
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      xlink:href="#svg-ec63"
                    ></use></svg
                  ><svg
                    class="u-svg-content"
                    viewBox="0 0 128 128"
                    id="svg-ec63"
                  >
                    <path
                      d="m26.4 108.7c-1.2 0-2.2-1-2.2-2.2s1-2.2 4.7-2.2h48.7v-7.4h-31.2v-9.9h31.2v-8.4h-58.7c-7.7 0-10.6-3-10.6-6.6v-57.1c0-3.7 3-6.6 6.6-6.6h81.2c3.7 0 6.6 3 6.6 6.6v27h8.3v-27c0-8.2-6.7-14.9-14.9-14.9h-81.2c-8.2 0-14.9 6.7-14.9 14.9v57.1c0 8.2 6.7 14.9 14.9 14.9h23.2v10.1h-13.8c-4.3 0-8.5 3.7-8.5 9.5v0.2c0 4.6 3.7 9.3 8.3 9.3h53.5v-7.3h-51.2z"
                    ></path>
                    <path
                      d="m118 41.9h-30c-5.8 0-10.5 4.7-10.5 10.6 0 0 0.1 66.3 0.1 66.4 0 4.3 5.1 9 10.4 9h30c5.6 0 10.2-4.4 10.5-10.1v-65.3c0-5.9-4.7-10.6-10.5-10.6zm2.4 75.5c-0.1 1.3-1.1 2.3-2.4 2.3h-30c-1 0-1.9-0.7-2.2-1.6l-0.2-65.6c0-1.3 1.1-2.4 2.4-2.4h30c1.3 0 2.4 1.1 2.4 2.4v64.9z"
                    ></path>
                  </svg>
                </span>
                <h4 class="u-text u-text-6">NAVEGADOR</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="u-align-center u-clearfix u-gradient u-section-4"
      id="carousel_c571"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-text u-text-body-alt-color u-text-1">
          Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit
          nullam nunc justo sagittis suscipit ultrices.
        </p>
        <h1 class="u-align-center u-text u-text-default u-text-2">PROMOÇÃO</h1>
        <div
          class="u-clearfix u-expanded-width u-gutter-16 u-layout-wrap u-layout-wrap-1"
        >
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div
                class="u-align-center u-container-style u-layout-cell u-palette-1-base u-size-30 u-layout-cell-1"
              >
                <div class="u-container-layout u-container-layout-1">
                  <h5 class="u-text u-text-body-alt-color u-text-3">
                    PLANO MENSAL
                  </h5>
                  <h2
                    class="u-text u-text-body-alt-color u-text-default u-text-4"
                  >
                    R$19
                  </h2>
                  <div
                    class="u-border-2 u-border-white u-line u-line-horizontal u-line-1"
                  ></div>
                  <p
                    class="u-align-center u-text u-text-body-alt-color u-text-5"
                  >
                    1 Tela<br /><i></i>+80.000 Conteúdos<br /><i></i>Qualidade
                    HD/SD/FullHD/4K/FullHD/4K<br /><i></i>Guia de Programação
                    [EPG]<br /><i></i>Assista no Smartphone/Tablet<br /><i></i
                    >Assista na Smart TV<br /><i></i>Assista no Computador<br /><i></i
                    >Assista no TV Box/Chromecast<br /><i></i>Programação
                    Adultos [Opcional]<br /><i></i>Rádios Online<br /><i></i
                    >Cortesias: Pacote Filmes e Séries
                  </p>
                  <a
                    href="https://api.whatsapp.com/send?phone=5551986165032&text=Ol%C3%A1%20equipe%20FullHD%2C%20desejo%20realizar%20a%20compra%20do%20plano%20mensal.%20Antes%20desejo%20realizar%20o%20teste%20de%206h%20gratuitamente!"
                    class="u-btn u-btn-round u-button-style u-radius-50 u-text-palette-1-base u-white u-btn-1"
                    >ASSINAR</a
                  >
                </div>
              </div>
              <div
                class="u-container-style u-layout-cell u-palette-1-base u-size-30 u-layout-cell-2"
              >
                <div class="u-container-layout u-container-layout-2">
                  <h5
                    class="u-align-center u-text u-text-body-alt-color u-text-6"
                  >
                    PLANO TRIMESTRAL
                  </h5>
                  <h2
                    class="u-align-center u-text u-text-body-alt-color u-text-default u-text-7"
                  >
                    R$55
                  </h2>
                  <div
                    class="u-border-2 u-border-white u-line u-line-horizontal u-line-2"
                  ></div>
                  <p
                    class="u-align-center u-text u-text-body-alt-color u-text-8"
                  >
                    1 Tela<br /><i></i>+80.000 Conteúdos<br /><i></i>Qualidade
                    HD/SD/FullHD/4K/FullHD/4K<br /><i></i>Guia de Programação
                    [EPG]<br /><i></i>Assista no Smartphone/Tablet<br /><i></i
                    >Assista na Smart TV<br /><i></i>Assista no Computador<br /><i></i
                    >Assista no TV Box/Chromecast<br /><i></i>Programação
                    Adultos [Opcional]<br /><i></i>Rádios Online<br /><i></i
                    >Cortesias: Pacote Filmes e Séries
                  </p>
                  <a
                    href="https://api.whatsapp.com/send?phone=5551986165032&text=Ol%C3%A1%20equipe%20FullHD%2C%20desejo%20realizar%20a%20compra%20do%20plano%20trimestral.%20Antes%20desejo%20realizar%20o%20teste%20de%206h%20gratuitamente!"
                    class="u-btn u-btn-round u-button-style u-radius-50 u-text-palette-1-base u-white u-btn-2"
                    >ASSINAR</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <h5 class="u-text u-text-body-alt-color u-text-9">20 CRÉDITOS/cada</h5>
      </div>
    </section>
    <section class="u-clearfix u-section-5" id="sec-d34f">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-text-default-xl u-text-1">
          VANTAGENS EM SER<br />REVENDEDOR?
        </h1>
        <h5 class="u-align-center u-text u-text-2">
          Com a revenda você terá acesso a um painel exclusivo podendo comprar
          seus créditos e revende-los garantindo uma renda extra ou fixa.
        </h5>
        <h4 class="u-text u-text-3">
          <span class="u-file-icon u-icon u-text-custom-color-1"
            ><img src="./assets/images/v.png" alt="" /></span
          >&nbsp;Painel Master
        </h4>
        <img
          class="u-align-left u-hidden-md u-hidden-xs u-image u-image-round u-radius-10 u-image-1"
          src="./assets/images/painel.png"
          alt=""
          data-image-width="971"
          data-image-height="323"
        />
        <h4 class="u-text u-text-4">
          <span class="u-file-icon u-icon u-text-custom-color-1"
            ><img src="./assets/images/v.png" alt="" /></span
          >&nbsp;Liberação Imediata
        </h4>
        <h4 class="u-text u-text-5">
          <span class="u-file-icon u-icon u-text-custom-color-1"
            ><img src="./assets/images/v.png" alt="" /></span
          >&nbsp;Alta lucratividade
        </h4>
        <h4 class="u-text u-text-6">
          <span class="u-file-icon u-icon u-text-custom-color-1"
            ><img src="./assets/images/v.png" alt="" /></span
          >&nbsp;Painel não tem custo
        </h4>
        <h4 class="u-text u-text-7">
          <span class="u-file-icon u-icon u-text-custom-color-1"
            ><img src="./assets/images/v.png" alt="" /></span
          >&nbsp;Créditos Barato
        </h4>
        <h4 class="u-text u-text-8">
          <span class="u-file-icon u-icon u-text-custom-color-1"
            ><img src="./assets/images/v.png" alt="" /></span
          >&nbsp;Serviço com alta qualidade
        </h4>
        <h4 class="u-text u-text-9">
          <span class="u-file-icon u-icon u-text-custom-color-1"
            ><img src="./assets/images/v.png" alt="" /></span
          >&nbsp;Suporte 24 horas
        </h4>
        <a
          href="https://api.whatsapp.com/send?phone=5551986165032&amp;text=Ol%C3%A1%20equipe%20FullHD%2C%20desejo%20me%20tornar%20um%20revendedor%2C%20passe%20mais%20informa%C3%A7%C3%B5es!"
          class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-border-none u-btn u-btn-round u-button-style u-color-scheme-summer-time u-color-style-multicolor-1 u-gradient u-none u-radius-50 u-text-body-alt-color u-btn-1"
        >
          <span style="font-size: 24px">TORNAR-SE UM REVENDEDOR</span>
        </a>
      </div>
    </section>

    <footer
      class="u-align-center u-clearfix u-footer u-grey-80 u-footer"
      id="sec-d846"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">FULL HD IPTV</p>
      </div>
    </footer>
  </body>
</html>
